
<div id="container" class="row large-4 medium-5 small-12 large-centered medium-centered small-centered">
  <div id="user-forms">
    <% if current_user.goals.count < 3 %>
      <%= form_for @goal do |u| %>
       <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
    <% end %>

        <div class="large-12 columns">You have created <%= current_user.goals.count %> of 3 Goals </div>
          <%= u.label "What are you trying to track?" %>
          <%= u.select :nutrient_id, options_for_select([["Protein (FDA recommended min: 50 grams)",1],["Total Fat (FDA recommended max: 70 grams)",2],["Total Carbohydrates (FDA recommended min: 300 grams)",3],["Saturated Fats (FDA recommended max: 20 grams)", 4],
          ["Calories (FDA recommended min: 2000 kcal)",5],["Monounsaturated Fats (FDA recommended min: 45 grams)",6], ["Trans Fats (FDA recommended max: 20 grams)",7],["Polyunsaturated Fats (FDA recommended min: 20 grams)",8], ["Sugars (FDA recommended max: 200 grams)",9],["Iron (FDA recommended min: 40 milligrams)",10], ["Calcium (FDA recommended min: 60 milligrams)",11],["Fiber (FDA recommended min: 25 grams)",12], ["Sodium (FDA recommended max: 2400 milligrams)",13],["Cholesterol (FDA recommended max: 300 milligrams)",14]]) %>
          <%= radio_button_tag(:amount, "FDA") %>
          <%= label_tag(:amount_FDA, "Use FDA recommendation") %>
          <%= radio_button_tag(:amount,"custom") %>
          <%= label_tag(:amount_custom,"Use a custom amount") %>
        <div class="row" id="custom_limit">
          <div class="large-12 columns">
            <div class="large-2 columns left">
              <label for="left-label" class="left inline">I want to have a:</label>
            </div>
            <div class="large-2 columns left">
              <%= select :limit,:limit_id, options_for_select([["Maximum"],["Minimum"]],{:class => "large-1 columns"}) %>
            </div>
            <div class="large-2 columns left">
              <label for="left-label" class="center inline">Amount of: </label>
            </div>
            <div class="large-2 columns left">
              <%= u.text_field :target %>
            </div>
          </div>
        </div>
        <center><%= u.submit 'Track this', {:id => 'clicked_new_goal', :class => 'gradient-blue'} %></center>
      <br>
      <center>
          <%= link_to "Take me to Homepage", root_path, {:class => 'gradient-blue bigger-gradient-blue', :style => 'color:#FFFFFF;'} %>
        </center>
      <% end %>
    <% else %>
        <div class="large-12 columns">You are at your goal limit.</div>
    <% end %>

      <div id="new_goal"></div>
  </div>
</div>


