<div class="row large-12 large-centered columns">
<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= render partial: 'goal_box', locals: {goal: @goal, nutrients: @nutrients} %>
  <button class: "addgoal small">Add A Goal to track</button>
    <div class="row">
      <div class="large-8 centered">
        <%= f.submit 'Submit', :class=> "button large" %>

      </div>
    </div>


  <% end %>

</div>


