<div class="row large-12 large-centered columns">
<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
      <%= fields_for @goal do |u| %>
    <%= u.label "What are you trying to track?" %>
      <% @x = [] %>
      <% @nutrients.each_with_index do |nutrient| %>
      <% @x << "#{nutrient.name } (FDA Recommendation: #{nutrient.FDA_recommendation})" %>
      <% end %>
      <%= u.select :nutrient,:nutrient_id, options_for_select([['protein',1]]) %>
        <%= radio_button_tag(:amount, "FDA") %>
        <%= label_tag(:amount_FDA, "Use FDA recommendation") %>
        <%= radio_button_tag(:amount,"custom") %>
        <%= label_tag(:amount_custom,"Use a custom amount") %>
      <div class="row" id="custom_limit">
        <div class="large-12 columns">
          <div class="large-2 columns left">
            <label for="left-label" class="left inline">I want to have a:</label>
          </div>
          <div class="large-2 columns left">
            <%= select :limit,:limit_id, options_for_select([["maximum"],["minimum"]],{:class => "large-1 columns"}) %>
          </div>
          <div class="large-2 columns left">
            <label for="left-label" class="center inline">Amount of: </label>
          </div>
          <div class="large-2 columns left">
            <%= u.text_field :nutrient_id, :placeholder => "figure this out" %>
          </div>
        </div>
      </div>
      <% end %>

    <div class="row">
      <div class="large-8 centered">
        <%= f.submit 'Submit', :class=> "button large" %>

      </div>
    </div>


  <% end %>

</div>


