<div id="container" class="row large-4 medium-5 small-12 large-centered medium-centered small-centered">

  <div id="user-forms">

    <%= form_for @user, remote: true do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit 'Submit' ,id: "addgoals" %>
<% end %>

  </div>
</div>
